name: Sync to Foked Repo

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    container: pandoc/latex
    steps:
      - uses: actions/checkout@v2

      - name: Install mustache (to update the date)
        run: apk add ruby && gem install mustache

      - name: creates output
        run: sh ./build.sh

      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.JIWON_GITHUB_TOKEN }}
        with:
          source-directory: 'output'
          destination-github-username: 'Choi-Jiwon-38'
          destination-repository-name: 'workinkorea'
          user-email: 'chlrhwldnjs@naver.com'
          commit-message: ${{ github.event.commits[0].message }}
          target-branch: develop

      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY
